@import 'mixins'
@import 'params'

x-slider{

    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;

    & > .input{
        margin: 0;
        padding: 0;
        position: relative;
        overflow: hidden;
        vertical-align: middle;

        width: 100%;
        min-height: 100%;

        background: transparent;
    }

    &[polyfill]{
        cursor: default;
        unhighlightable();

        & > .input{
            cursor: default;
            unhighlightable();

            display: inline-block;

            &::-webkit-slider-thumb{
                visibility: hidden;
            }

            &::-moz-range-thumb{
                width: 0px;
                height: 0px;
            }

            &::-moz-range-track{
                height: 0;
                width: 0;
            }
        }


        // slider thumb graphic
        & > .slider-thumb{
            cursor: default;
            unhighlightable();

            vertical-align: middle;
            position: absolute !important;
            top: 0;
            left: 0;
            height: 100%;

            border-radius: 4px;
            border: 1px solid grey;
            box-shadow: 0px 1px 4px #ddd;

            width: .65em;
            simplegradient();

            &:hover{
                simplegradient(#E7F5FD);
            }

            &[active]{
                simplegradient(darken(#E7F5FD, 10%));
            }

            @media only screen and (max-device-width: 1024px) {
                width: 1.5em;
            }

            margin: 0;
            padding: 0;

            transformed(translate3d(0,0,1px));

        }
    }

    &:not([polyfill]){
        & > .slider-thumb{
            visibility: hidden !important;
        }
    }
}

